.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1B1C22;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.addPlayer {
    height: 92vh;
}

.row {
    /* cursor: pointer; */
    -webkit-user-select: none;
    user-select: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    height: 4em;
}

table tr td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

table tr td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

table td,
table th {
    padding: 0.6em;
}

table tr td:first-child {
    cursor: pointer;
    font-size: 1.5em;
    width: 40px;
}

table tr :is(th:first-child, td:first-child) {
    text-align: center;
}

table th {
    text-align: start;
    font-weight: 500;
    color: rgb(255 255 255 / 60%);
}

.selectedText {
    color: #ff3e3e !important;
}

.row:hover,
.utilites span:hover,
.options div:hover {
    background-color: #25262C;
}


.inLibrary i:hover {
    color: #ff3e3e !important;
}

.inLibrary i {
    cursor: pointer;
}

.inLibrary div:hover {
    background-color: #25262C;
}

.inLibrary div {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 78px;
    width: 12em;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border: 1px solid #727276;
    color: rgb(255 255 255 / 60%);
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
    background-color: #191A1F;
    padding: 1em 2em;
    border-radius: 5px;
    text-align: center;
}

.inLibrary {
    position: relative;
    text-align: end;
    padding-right: 2em;
}

.player {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* padding: 0 2em; */
    height: 8vh;
    background-color: #121212;
}

.inside {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    padding: 1em 2em;
}

.utilites {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 1px 2em; */
}

.play {
    color: rgb(255 255 255 / 87%) !important;
}

.player .utilites span {
    font-size: 1.5em;
    cursor: pointer;
    padding: 6px 18px;
    border-radius: 5px;

}

.bar input {
    width: 100%;
    margin: 0;
}

.volume {
    accent-color: #ff3e3e;
    height: 3px;
    margin-left: 1em;
}

.bar input[type=range] {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    accent-color: #ff3e3e;
    width: 100%;
    height: 3px;
    background-color: rgb(255 255 255 / 38%);
    color: green; */
    background: rgb(255 255 255 / 38%);
    border: none;
    height: 3px;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.bar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0;
    width: 14px;
    height: 14px;
    background: #ff3e3e;
    border-radius: 50%;
    /* margin-right: 20px !important; */
}

.bar:hover input[type="range"] {
    height: 7px;
}

.bar:hover input[type="range"]::-webkit-slider-thumb {
    opacity: 1;
}

.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 0px;
}

.bar span {
    padding: 0px 24px;
    color: rgb(255 255 255 / 60%);
}

.details {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 25em;
}


.details img {
    width: 50px;
    border-radius: 5px;
    height: 50px;
    object-fit: cover;
}

.options {
    width: 20em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #191A1F;
    padding: 1em;
    border-right: 1px solid rgb(255 255 255 / 7%);
}

.options div:first-child {
    color: rgb(255 255 255 / 38%);
    background-color: transparent !important;
    cursor: default;
    user-select: none;
}

.options div {
    font-size: 1.4em;
    display: flex;
    gap: 0.7em;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255 255 255 / 60%);
}

.collection {
    width: 100%;
    overflow-y: auto;
    padding: 2em;
    padding-left: 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.info img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
}

.infoDiv {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.albumDetails {
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    color: rgb(255 255 255 / 38%);
}

.albumDetails span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.albumDetails span {
    font-size: 1em;

}

.albumTitle {
    cursor: pointer;
    font-size: 1.2em;
    color: rgb(255 255 255 / 60%);
}

.albumHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2em;
}

.duration {
    color: rgb(255 255 255 / 38%);
}

.timeShown {
    display: flex;
    flex-direction: row;
    color: rgb(255 255 255 / 38%);
    gap: 0.6em;
    font-size: 1em;
    align-items: center;
    margin-left: 1em;
}

.albumName {
    font-size: 5em;
    font-weight: bold;
}

.albumAuthor {
    color: rgb(255 255 255 / 60%);
}

.albumHeader div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.albumHeader div span {
    font-size: 1.4em;
}

.albumHeader img {
    width: 16em;
    height: 16em;
    border-radius: 5px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
}