.topNav {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.topNav i {
    padding: 1em;
    color: rgb(255 255 255 / 38%);
    border-radius: 5px;
}

.switch {
    cursor: pointer;
}

.search {
    position: relative;
}

.search div {
    border: 1px solid #727276;
    color: rgb(255 255 255 / 60%);
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
    background-color: #191A1F;
    position: absolute;
    top: 4em;
    left: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

.search div span {
    padding: 1em 2em;
    font-size: 1.1em;
    cursor: pointer;
}

.search div span:hover {
    background-color: #25262C;
}

.search input[type=text] {
    background-color: transparent;
    font-size: 1em;
    border: none;
    color: rgb(255 255 255 / 60%);
    outline: none;
}

.search input[type=text]::placeholder {
    color: rgb(255 255 255 / 60%);
}

.split {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.switch i:hover {
    background-color: #25262C;
    color: #ff3e3e;
}

.suggest {
    overflow-y: auto;
    padding-bottom: 1em;
}

.title {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.suggestList {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.slot {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 1em;
    border-radius: 5px;
    width: 10em;
}

.slot:hover {
    background-color: #25262C;
}

.slot span {
    cursor: pointer;
}

.slot a {
    color: rgb(255 255 255 / 87%);
    text-decoration: none;
}

.slot span:hover,
.slot a:hover {
    text-decoration: underline;
}

.slot div {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    padding: 0 0.7em;
    gap: 0.3em;
}

.slot div span:last-child {
    color: rgb(255 255 255 / 38%);
}

.slot img {
    cursor: pointer;
    width: 10em;
    height: 10em;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
}